export ADDR=":8080"
export DB_ADDR=postgres://admin:adminpassword@localhost/social?sslmode=disable
export SENDGRID_API_KEY='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'
export FROM_EMAIL='martdev17@gmail.com'
export ENV=production